@charset "UTF-8";

body, input, button{
    font-family: 'Roboto', sans-serif;
}
.header{
    height: 80px;
    padding: 15px;
    z-index: 5;
    background-color: #c6273a;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.app-body{
    background-color: #edf0f1;
    padding: 50px 5% 50px 5%;
}